<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "- //mybatis.org//DTD Config 3.0//EN"
        "Http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EventMapper">
    <select id="findAll" resultType="com.example.domain.Event">
        SELECT * FROM event
    </select>

    <select id="findById" parameterType="long" resultType="com.example.domain.Event">
        SELECT * FROM event WHERE id = #{id}
    </select>

    <select id="findByName" parameterType="String" resultType="com.example.domain.Event">
        SELECT * FROM event WHERE title = #{name}
    </select>

    <insert id="insert" parameterType="com.example.domain.Event">
        INSERT INTO event (title, date, location, duration, content, attachmentLink, imageUrl) VALUES
        (#{title}, #{date}, #{location}, #{duration}, #{content}, #{attachmentLink}, #{imageUrl})
    </insert>

    <update id="update" parameterType="com.example.domain.Event">
        UPDATE event SET title = #{title}, date = #{date}, location = #{location}, duration = #{duration},
        content = #{content}, attachmentLink = #{attachmentLink}, imageUrl = #{imageUrl} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM event WHERE id = #{id}
    </delete>
</mapper>
